<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styless.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>registro</title>
</head>
<body>
    <header>
        <div class="titulo">
            <img src="/img/logo-mercado-liebre.svg" alt="">
            <div class="buscador">
                <input type="text" class="buscador" placeholder="buscar productos">
                <button><i class="fas fa-search"></i></i></button>
            </div>
            <p class="centrar"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p> 
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="reg">
        <form action="/" method="post">
            <article>
                <div class="datoUsuario">
                    <span>
                        <input type="text" id="nombreCompleto" name="nombreCompleto" placeholder="Nombre y apellido">
                    </span>
                    <span>
                        <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario">
                    </span>
                    <span>
                        <input type="email" id="email" name="email" placeholder="E-mail">
                    </span>
                </div>
            </article>
            <article>
                <div class="fecha">
                    <h2>Fecha de nacimiento</h2>
                    <span>
                        <input type="date" name="fechaDenNacimiento" id="fechaDenNacimiento">
                    </span>
                </div>
            </article>
            <article>
                <div class="perfil">
                    <h2>Perfil del usuario</h2>
                    <div>
                        <span>
                            <input type="radio" id="comprador" name="perfilUsuario" value="comprador">
                            <label for="comprador">comprador</label> 
                        </span>
                        <span>
                            <input type="radio" id="vendedor" name="perfilUsuario" value="vendedor"> 
                            <label for="vendedor">vendedor</label>
                        </span>            
                    </div>
                </div>
            </article>
            <article>
                <div class="intereses">
                    <H2>Intereses</H2>
                    <div>
                        <label for="electro">
                            <input type="checkbox" name="interes" id="electro">
                            Electro
                        </label>
                    </div>
                    <div>
                        <label for="moda">
                            <input type="checkbox" name="interes" id="moda">
                            Moda
                        </label>              
                    </div>
                    <div>
                        <label for="hogar">
                            <input type="checkbox" name="interes" id="hogar">
                            Hogar
                        </label>                        
                    </div>
                    <div>
                        <label for="jugueteria">
                            <input type="checkbox" name="interes" id="jugueteria">
                            Jugueteria
                        </label>
                    </div>
                    
                    <div>
                        <label for="vidaSana">
                            <input type="checkbox" name="interes" id="vidaSana">
                            Vida sana
                        </label>
                    </div>
                </div>
            </article>
            <article>
                <div class="fotoPerfil">
                    <h2>foto de perfil</h2>
                    <label for="fotoPer">
                        Seleccioine una foto de perfil
                        <input type="file" name="" id="">
                    </label>
                </div>
            </article>
            <article>
                <div class="pasw">
                    <h2>contraseña</h2>         
                    <input type="password" name="pas" id="pas" placeholder="escriba una contraseña">                           
                    <input type="password" name="pas" id="pasRep" placeholder="repita la contraseña">                    
                </div>
            </article>
            <article>
                <div class="btn">
                    <button type="submit" class="ok">ENVIAR</button>
                    <button type="reset" class="bad">BORRAR</button>
                </div>
            </article>
        </form>
    </main>
    <footer class="centrar">
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <span>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </span>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <span>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </span>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Segurclassad, de principio a fin</h4>
            <span>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegclass@.
            </span>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>

        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                    src="http://jigsaw.w3.org/css-validator/images/vcss"
                    alt="¡CSS Válido!" />
            </a>
        </p>
             
    </footer>
    
</body>
</html>